@inherits LayoutComponentBase

<nav class="pico-background-slate-900">
    <ul>
        <li><strong><i class="fa-solid fa-rocket"></i> HAK Template (Pico.css)</strong></li>
    </ul>
    <ul>
        <li><button class="outline">Button</button></li>
        <li><button class="outline">Home</button></li>        
    </ul>
</nav>

<div class="mainContent">
    @Body
</div>