@inherits LayoutComponentBase

<nav class="pico-background-azure-500">
    <ul>
        <li><strong>HAK Template (Pico.css)</strong></li>
    </ul>
    <ul>
        <li><button class="secondary">Button</button></li>
        <li><button class="contrast">Home</button></li>        
    </ul>
</nav>

<div class="mainContent">
    @Body
</div>