@inherits LayoutComponentBase

@code {
    protected override void OnInitialized()
    {
        // Statischer Titel für die ganze App
        Application.Current!.Windows.FirstOrDefault().Title = "HAK Maui Template";
    }
}

<nav class="pico-background-slate-900">
    <ul>
        <li><strong><i class="fa-solid fa-rocket"></i> HAK Template (Pico.css)</strong></li>
    </ul>
    <ul>
        <li>            
            <NavLink role="button" class="win11-button" href="LinkZurSeite">
                Button
            </NavLink>                       
        </li>
        <li>
            <NavLink role="button" class="win11-button" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
    </ul>
</nav>

<div class="mainContent">
    @Body
</div>